.get-price-list {
  line-height: 1.4;
  background: url("./../img/calculator/bottom-shape-bg.svg") no-repeat bottom center;
  background-size: 120rem;
  @media (min-width: 120rem) {
    background-size: 100%;
  }

  // .get-price-list__container

  &__container {
    padding-bottom: proadrem(40, 144, $minWidthRemWithout, $maxWidthRemWithout);
    // @media (max-width: $mobile) {
    //   padding-top: rem(30);
    // }
  }

  // .get-price-list__form-section

  &__form-section {
    position: relative;
    border-radius: rem(30);
    overflow: hidden;
    padding: proadrem(25, 39, $mobileSmallRemWithout, $maxWidthRemWithout)
      proadrem(15, 59, $mobileSmallRemWithout, $maxWidthRemWithout)
      proadrem(25, 57, $mobileSmallRemWithout, $maxWidthRemWithout);
    background: var(--blue-color);
    @media (max-width: $tablet) {
      line-height: 1.3;
    }
    @media (max-width: $mobileSmall) {
      margin-left: rem(-15);
      margin-right: rem(-15);
    }
  }

  // .get-price-list__form-block

  &__form-block {
    max-width: rem(436);
    position: relative;
    z-index: 1;
    @media (max-width: $mobileSmall) {
      max-width: 100%;
    }
  }

  // .get-price-list__form-top-texts

  &__form-top-texts {
    margin-bottom: proadrem(15, 19, $minWidthRemWithout, $maxWidthRemWithout);
  }

  // .get-price-list__form-text

  &__form-text {
    color: var(--white-color);
    // text-align: center;
    font-family: var(--mont-800);
    font-size: proadrem(18, 24, $minWidthRemWithout, $maxWidthRemWithout);
    // margin-bottom: rem(45);
    margin-bottom: proadrem(20, 45, $minWidthRemWithout, $maxWidthRemWithout);
    @media (max-width: $mobile) {
      max-width: rem(400);
    }

    // ._semibold

    ._semibold {
      font-family: var(--mont-600);
    }

    // .get-price-list__form-text_small

    &_small {
      color: var(--white-color);
      font-size: rem(14);
      display: flex;
      gap: rem(5);
      align-items: center;
      &::before {
        content: "";
        width: rem(10);
        height: rem(1.5);
        background: var(--white-color);
      }

      // text-align: center;
    }
  }

  // .get-price-list__form

  &__form {
    max-width: rem(275);
    // margin: 0 auto;
    @media (max-width: $mobileSmall) {
      max-width: 100%;
    }
  }

  // .get-price-list__messengers

  &__messengers {
    margin-bottom: rem(10);
  }

  // .get-price-list__input-text

  &__input-text {
    margin-bottom: rem(10);
  }

  // .get-price-list__button-submit

  &__button-submit {
    line-height: 1.5;
    letter-spacing: rem(1.95);
    width: 100%;
    margin-bottom: rem(15);
  }

  // .get-price-list__checkbox-agreement

  &__checkbox-agreement {
    padding-left: rem(19);
    &::before {
      left: 0;
    }
  }

  // .get-price-list__img-bg

  &__img-bg {
    position: absolute;
    // ._1

    &_kitchen {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    // ._2

    &_book {
      top: 50%;
      transform: translateY(-57%);
      right: rem(-190);
      width: 86%;
      @media (max-width: $tablet) {
        top: 55%;
      }
      @media (max-width: $mobile) {
        top: 60%;
      }
      @media (max-width: $mobileSmall) {
        display: none;
      }
    }

    // ._3

    &_bush {
      bottom: 0;
      right: 0;
      width: 22%;
      @media (max-width: $mobileSmall) {
        display: none;
      }
    }

    // ._4

    &_circle {
      top: 60%;
      left: 50%;
      // width: rem(108);
      width: 12%;
      @media (max-width: $tablet) {
        left: 55%;
      }
      @media (max-width: $mobile) {
        top: 65%;
        left: 60%;
      }
      @media (max-width: $mobileMiddle) {
        left: 70%;
      }
      @media (max-width: $mobileSmall) {
        display: none;
      }
    }
  }
}
