.leave-request {
  background: #f2f9ff;
  // .leave-request__container

  &__container {
  }

  // .leave-request__form

  &__form {
    border-radius: rem(30);
    position: relative;
    overflow: hidden;
    background: var(--blue-color);
    // padding: rem(42) rem(58) rem(49);
    padding: proadrem(25, 42, $minWidthRemWithout, $maxWidthRemWithout)
      proadrem(15, 58, $minWidthRemWithout, $maxWidthRemWithout)
      proadrem(25, 49, $minWidthRemWithout, $maxWidthRemWithout);
    @media (max-width: $mobileMiddle) {
      margin-left: rem(-15);
      margin-right: rem(-15);
    }
  }

  // .leave-request__text

  &__text {
    color: var(--white-color);
    // font-size: rem(20);
    font-size: proadrem(18, 20, $minWidthRemWithout, $maxWidthRemWithout);
    max-width: rem(357);
    // margin-bottom: proadrem(15, 32, $minWidthRemWithout, $maxWidthRemWithout);
    margin-bottom: proadrem(15, 22, $minWidthRemWithout, $maxWidthRemWithout);
    position: relative;
    z-index: 1;
    @media (max-width: $mobileSmall) {
      max-width: 100%;
      text-align: center;
    }
    // ._bold

    ._bold {
      font-family: var(--mont-800);
    }

    // ._uppercase

    ._uppercase {
      text-transform: uppercase;
    }
  }

  // .leave-request__input-button

  &__input-button {
    max-width: rem(560);
    display: flex;
    gap: rem(10);
    margin-bottom: rem(25);
    position: relative;
    z-index: 1;
    @media (max-width: $mobile) {
      max-width: 100%;
    }
    @media (max-width: $mobileMiddle) {
      flex-wrap: wrap;
    }
  }

  // .leave-request__input

  &__input {
    // width: rem(275);
    width: 50%;
    padding-left: rem(39);
    flex-grow: 1;
  }

  // .leave-request__button-submit

  &__button-submit {
    // width: rem(275);
    width: 50%;
    flex-grow: 1;
  }

  // .leave-request__checkbox-agreement

  &__checkbox-agreement {
    position: relative;
    z-index: 1;
    &::before {
      // top: rem(0.5);
      left: rem(-1.5);
    }
  }

  // .leave-request__checkbox-agreement-text

  &__checkbox-agreement-text {
    padding-left: rem(19);
  }

  // .leave-request__img-bg

  &__img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    // z-index: -1;
  }

  // .leave-request__img

  &__img {
    position: absolute;
    width: rem(410);
    bottom: 0;
    // right: rem(80);
    right: proadrem(-50, 80, $mobileRemWithout, $maxWidthRemWithout);
    // z-index: -1;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.checkbox-agreement {
  // .checkbox-agreement__input

  &__input {
    &_2 {
    }
  }

  // .checkbox-agreement__text

  &__text {
  }
}
