.other-companies-problems {
  background: #f2f9ff;
  // .other-companies-problems__container

  &__container {
    // padding: rem(35) rem(15) rem(106);
    padding: proadrem(15, 35, $minWidthRemWithout, $maxWidthRemWithout) rem(15) proadrem(25, 53, $minWidthRemWithout, $maxWidthRemWithout);
  }

  // .other-companies-problems__subtitle

  &__subtitle {
    // margin: 0 auto rem(20); 
    margin: 0 auto rem(18); 
  }

  // .other-companies-problems__heading

  &__heading {
    // margin: 0 auto rem(10);
    margin: 0 auto rem(11);
    max-width: rem(894);
  }

  // .other-companies-problems__paragraph

  &__paragraph {
    max-width: rem(701);
    margin: 0 auto proadrem(20, 50, $minWidthRemWithout, $maxWidthRemWithout);
  }

  // .other-companies-problems__problems

  &__problems {
  }
}

.problems-cards {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax((rem(250)), 1fr));
  grid-template-columns: repeat(3, 1fr);
  gap: rem(20);
  @media (max-width: $tablet) {
    gap: rem(15);
  }
  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $mobileSmall) {
    grid-template-columns: 1fr;
  }
  // .problems-cards__card

  &__card {
  }

  // .problems-cards__img

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    // .problems-cards__img_attention

    &_attention {
      right: 0;
      left: auto;
      mix-blend-mode: hard-light;
      width: 52%;
    }

    // .problems-cards__img_3

    &_3 {
      width: 98.5%;
    }

    // .problems-cards__img_4

    &_4 {
      width: rem(195);
      top: rem(-7);
      left: rem(-5);
      @media (max-width: $mobile) {
        max-width: 54%;
        left: 10%;
      }
      @media (max-width: $mobileSmall) {
        top: auto;
        bottom: rem(-20);
      }
    }
  }
}
